<p style="color: green"><%= notice %></p>

<%= render @destination %>

<div>
  <%= link_to "Edit this destination", edit_tour_company_destination_path(@destination.tour_company,@destination) %> |
  <%= link_to "Back to destinations", tour_company_destinations_path %>

  <%= button_to "Destroy this destination", tour_company_destination_path(@destination.tour_company, @destination), method: :delete %>
</div>
